.summary-container {
  > div {
    width: 25%;
    margin: 0 auto;
  }
  > svg {
    height: 100%;
  }
  background: $color-white;
  height: auto;
  margin: 0 auto;
  width: calc(100vw - 20px);
  max-width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 3px;
}
