$color-white: #ffffff;

$color-silver-dark: #828282;
$color-silver: #a5a5a5;
$color-silver-light: #f8f8f8;

$color-red-dark: #d45161;
$color-red: #EF9A9A;
$color-red-light: #ffafaf;
$color-red-light-2: #ffc5c5;

$color-orange: #FFCC80;
$color-orange-light: #FFE082;

$color-green-default: #16967a;
$color-green: #89d78f;
$color-green-light: #81E979;

$color-blue: #90CAF9;
$color-blue-light: #81D4FA;

$color-yellow: #FFF59D;

$color-green: #A5D6A7;

$color-gray-light: #EEEEEE;
$color-gray: #90A4AE;
$color-gray-dark: #545a6a;
$color-black: #211A1E;
